<div id="main">
    <h2>Kontakt</h2>
    <p><b>Email: </b><a href="mailto:holmes_dj@gmx.de">holmes_dj@gmx.de</a></p>
    <p><b>Instagram: </b><a href="https://www.instagram.com/holmes_dj/">@holmes_dj</a></p>
    <p><b>Spotify: </b><a href="https://open.spotify.com/artist/1gIdoTThEdOQCxlX29s67M?si=WBNAPo5cQKyN0f0nX-7E9A">Holmes</a></p>
    <p><b>Soundcloud: </b><a href="https://soundcloud.com/holmes_dj">Holmes</a></p>
    <p><b>YouTube: </b><a href="https://www.youtube.com/channel/UCfsu9S5n1LbebbyY9oS665g">Holmes</a></p>
</div>