<div id="footer">
    <br>
    <a href="https://www.instagram.com/holmes_dj/"><img src="../../assets/images/Social Media Icons/instagram.png"></a>
    <a href="https://open.spotify.com/artist/1gIdoTThEdOQCxlX29s67M?si=WBNAPo5cQKyN0f0nX-7E9A"><img src="../../assets/images/Social Media Icons/spotify.png"></a>
    <a href="https://soundcloud.com/holmes_dj"><img src="../../assets/images/Social Media Icons/soundcloud.png"></a>
    <a href="https://www.youtube.com/channel/UCfsu9S5n1LbebbyY9oS665g"><img src="../../assets/images/Social Media Icons/youtube.png"></a>

    <br><br>
    <a routerLink="imprint">Impressum</a>
    <br>
</div>