li {
    display: flex;
    align-items: center;
}

a {
    color: white;
}

#header {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: gray;
}

#logo {
    padding-left: 2%;
    padding-right: 2%;
    height: 80px;
    width: 300px;
}