li {
    display: flex;
    align-items: center;
}

a {
    color: white;
}

img {
    width: 100%;
    height: auto;
}

#header {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: gray;
}

#logo {
    padding-left: 1%;
    padding-right: 2%;
}