<div class="row" id="header">
    <img src="../assets/images/logo.png" class="col-4" id="logo" routerLink="">

    <ul ngbNav #nav="ngbNav" class="nav-tabs col-8 d-flex justify-content-start">
        <li ngbNavItem>
          <a ngbNavLink routerLink="about">Über mich</a>
        </li>
        <li ngbNavItem>
          <a ngbNavLink routerLink="music">Musik</a>
        </li>
        <li ngbNavItem>
            <a ngbNavLink routerLink="software">Software</a>
        </li>
        <li ngbNavItem>
            <a ngbNavLink routerLink="contact">Kontakt</a>
        </li>
        <li ngbNavItem>
            <a ngbNavLink routerLink="imprint">Impressum</a>
        </li>
    </ul>
</div>