<div id="main">
    <div>
        <h2>Software</h2>

        <div>
            <h4>FL Studio 20</h4>
        </div>
    </div>

    <br><br><br>

    <div>
        <h2>Plugins</h2>

        <div>
            <p>
                Im Folgenden sind alle VST-Plugins aufgelistet, die ich am häufigsten verwende.
                Bei vielen davon handelt es sich um FL Studio-interne Plugins.
            </p>
        </div>

        <br>

        <div>
            <h4>VST-Plugins</h4>

            <ul>
                <li>Minisynth</li>
                <li>Harmless</li>
                <li>Sylenth1</li>
                <li>Keyzone Classic</li>
                <li>DSK Strings</li>
                <li>Slicex</li>
                <li>Slicex</li>
            </ul>
        </div>
        
        <div>
            <h4>Effekt-Plugins</h4>

            <ul>
                <li>Fruity Reverb</li>
                <li>Fruity Delay 3</li>
                <li>Gross Beat</li>
                <li>Fruity Fast Dist</li>
                <li>Ozone Imager</li>
                <li>Vocal Doubler</li>
                <li>PanCake2</li>
                <li>Fruity limiter</li>
                <li>Fruity Compressor</li>
            </ul>
        </div>
    </div>
</div>