<div class="main">
    <h2>Software</h2>

    <div class="entry">
        <div>
            <h4>FL Studio 20</h4>

            <p>
                Als DAW verwende ich FL Studio 20. Ich habe bereits meine allerersten Produzier-Versuche
                in der Free-Trials-Version von FL Studio gemacht und mich seitdem immer mehr in die
                Software eingearbeitet. Da ich es hasse, neue Software zu lernen, wenn ich bereits eine
                andere beherrsche, die vom Prinzip her genau das gleiche kann, werde ich vermutlich auch
                immer bei FL Studio bleiben. 
            </p>
        </div>
    </div>

    <br>

    <div class="entry">
        <h2>Plugins</h2>

        <div>
            <p>
                Im Folgenden sind alle VST-Plugins aufgelistet, die ich am häufigsten verwende.
                Bei vielen davon handelt es sich um FL Studio-interne Plugins.
            </p>
        </div>

        <br>

        <div>
            <h4>VST-Plugins</h4>

            <ul>
                <li>Minisynth</li>
                <li>Harmless</li>
                <li>Sylenth1</li>
                <li>Keyzone Classic</li>
                <li>DSK Strings</li>
                <li>Slicex</li>
            </ul>
        </div>

        <br>
        
        <div>
            <h4>Effekt-Plugins</h4>

            <ul>
                <li>Fruity Reverb</li>
                <li>Fruity Delay 3</li>
                <li>Gross Beat</li>
                <li>Fruity Fast Dist</li>
                <li>Ozone Imager</li>
                <li>Vocal Doubler</li>
                <li>PanCake2</li>
                <li>Fruity limiter</li>
                <li>Fruity Compressor</li>
            </ul>
        </div>
    </div>
</div>