<div id="main">
    <div>
        <h2>Software</h2>

        <div>
            <h4>FL Studio 20</h4>
        </div>
    </div>

    <br><br>

    <div>
        <h2>VST-Plugins</h2>

        <div>
            <h4>Minisynth</h4>
        </div>

        <div>
            <h4>Harmless</h4>
        </div>

        <div>
            <h4>Sylenth1</h4>
        </div>

        <div>
            <h4>Keyzone Classic</h4>
        </div>

        <div>
            <h4>DSK Strings</h4>
        </div>

        <div>
            <h4>Slicex</h4>
        </div>
    </div>

    <br><br>

    <div>
        <h2>Effekt-Plugins</h2>

        <div>
            <h4>Fruity Reverb</h4>
        </div>

        <div>
            <h4>Fruity Delay 3</h4>
        </div>

        <div>
            <h4>Gross Beat</h4>
        </div>

        <div>
            <h4>Fruity Fast Dist</h4>
        </div>

        <div>
            <h4>Ozone Imager</h4>
        </div>

        <div>
            <h4>Vocal Doubler</h4>
        </div>

        <div>
            <h4>PanCake2</h4>
        </div>

        <div>
            <h4>Fruity Limiter</h4>
        </div>

        <div>
            <h4>Fruity Compressor</h4>
        </div>
    </div>
</div>