h2 {
    padding-top: 2%;
}

p {
    width: 75%;
    align-content: center;
}

div {
    align-content: center;
}

#main {
    padding: 3%;
    text-align: center;
}

#cite {
    font-style: oblique;
}