<div class="main">
    <h2>Über mich</h2>

    <div class="entry">
        <div>
            <p>
                Ich wurde 2000 in Nordrhein-Westfalen in der Nähe von Duisburg geboren und bin dort in
                einer Kleinstadt aufgewachsen. Nach meinem Abitur im Jahr 2019 habe ich mich dazu entschieden,
                Medieninformatik an der Hochschule Rhein-Waal in Kamp-Lintfort zu studieren.
            </p>
            
            <p>
                Neben dem Interesse für Informatik spielt mein Interesse für Musik schon lange eine große und wichtige
                Rolle in meinem Leben. Seitdem ich denken kann, war Musik immer ein Teil meines Lebens. Egal, ob mein Vater
                mir als Baby Lieder auf der Gitarre vorgespielt hat, mich mit 6 Jahren zu meinem ersten Konzert mitnahm
                oder ob ich auf dem Dachboden im Musikzimmer meines Vaters auf den Keyboard rumgeklimpert habe - schon in
                frühen Jahren war ich mit der Musik in Kontakt.
            </p>
            
            <p>
                Trotzdem war ich als kleines Kind nicht sonderlich interessiert daran, ein Instrument zu lernen. Dies änderte sich
                erst, als ich 11 Jahre alt war und angefangen habe, Schlagzeugunterricht zu nehmen. Auslöser dafür war eine Live-DVD
                von Tokio Hotel, von denen ich bereits seit ihrem ersten Album ein großer Fan war. Diese Live-Aufzeichnung
                hat in mir das Interesse für's Schlagzeug spielen geweckt. Mein Interesse für Musik durch das Schlagzeug spielen
                weiter verstärkt, und so kam es unter anderem, dass ich in der Schule im Musikunterricht, auf der jährlichen
                Variété-Veranstaltung oder auch auf meinem Abiball zusammen mit einem Freund aufgetreten bin.
            </p>
        </div>

        <br>
        <h5 class="cite">"If your eyes are shining, it doesn't matter how old you are." ~Skrillex</h5>
        <br>

        <div>
            <p>
                Der wohl wichtigste Schritt in Bezug auf Musik war jedoch mein erster aktiver und bewusster Kontakt mit elektronischer
                Musik. Auch, wenn ich diese Art von Musik zwar immer irgendwie auf dem Schirm hatte, habe ich erst Ende 2016 aktiv angefangen,
                sie zu hören. Dadurch bin ich mit dem DJen und mit der Musikproduktion in Berührung gekommen, was dazu führte,
                dass ich mir 2017 zu Weihnachten einen DJ-Controller gewünscht und Anfang 2018 die Produktionssoftware
                FL Studio gekauft habe. Dadurch habe ich begonnen, mich neben dem Schlagzeug spielen auch mit anderen Aspekten der Musik
                wie z.B. Musiktheorie, verschiedenen Instrumenten, Sounddesign und unterschiedlichsten Produktionstechniken auseinanderzusetzen.
                Dieser Schritt hat mir ungemein dabei geholfen, tiefer in die Welt der Musik einzutauchen. Seitdem habe ich verschiedenste Remixe sowie
                eigene Tracks und zwei eigene Alben produziert.
            </p>
            
            <p>
                Mitte 2020 habe ich außerdem angefangen, eigenständig (grundlegend) Gitarre zu erlernen, da ich neben Schlagzeug noch ein
                nicht-rhytmisches zumindest grundlegend beherrschen wollte.
            </p>
            
            <p>
                Am wohlsten fühle ich mich in allen elektronischen Genres (besonders Dubstep, Chillstep und House) sowie im Rock- und Metalbereich. Während die Liebe zur elektronischen
                Musik mich wie zuvor bereits erwähnt seit Ende 2016 begleitet, habe ich Rock eigentlich schon immer gemocht. Meine Vorliebe zu Metal
                ist mit der Zeit langsam daraus heraus entstanden. Mittlerweile bevorzuge ich das Geschriehene fast schon dem Rock, am liebsten ist mir
                jedoch eine Mischung aus geschriehenen und melodischen Parts.
            </p>
            
            <p>
                Zu meinen größten Einflüssen zählen hierbei Skrillex, Martin Garrix, Nickelback und Electric Callboy. Diese Bands bzw. DJs haben meinen Musikgeschmack entscheidend geprägt,
                da sich mich bereits lange begleiten und meine Liebe zu ihren entsprechenden Genres entscheidend vorangetrieben haben.
                Des Weiteren wurde ich auch häufig durch einzelne Songs musikalisch geprägt. Diese hier alle aufzulisten, würde aber vermutlich den Rahmen sprengen.
            </p>
        </div>
    </div>

    <br>
</div>