<div class="main">
    <div>
        <img src={{coverPath}}>
    </div>

    <div class="content">
        <h4>{{title}}</h4>

        <div>
            <button type="button" class="btn btn-secondary" (click)="ToSpotify()">
                Spotify
            </button>
            <button type="button" class="btn btn-secondary" (click)="ToSoundcloud()">
                Soundcloud
            </button>
            <button type="button" class="btn btn-secondary" (click)="ToYoutube()">
                YouTube
            </button>
        </div>
    </div>
</div>