<div class="main">
    <h2 class="title">Musik</h2>

    <div class="entry">
        <h3>Alben</h3>

        <div *ngFor="let album of albums | keyvalue" class="albencontent">
            <app-album-entry [album]=album></app-album-entry>
        </div>
    </div>

    <br><br><br>

    <div class="entry">
        <h3>Tracks</h3>

        <div *ngFor="let track of tracks | keyvalue" class="trackscontent">
            <app-track-entry [track]=track></app-track-entry>
        </div>
    </div>

    <br>
</div>