<div>
    <h2 class="d-flex justify-content-center">Musik</h2>

    <div id="alben">
        <h3>Alben</h3>

        <div *ngFor="let album of albums | keyvalue" id="albencontent">
            <app-album-entry [album]=album></app-album-entry>
        </div>
    </div>

    <br><br><br><br>

    <div id="tracks">
        <h3>Tracks</h3>

        <div *ngFor="let track of tracks | keyvalue" id="trackscontent">
            <app-track-entry [track]=track></app-track-entry>
        </div>
    </div>

    <br>
</div>