h2 {
    padding-top: 2%;
}

.title {
    text-align: center;
}

.alben {
    padding-left: 2%;
    padding-right: 2%;
}

.albencontent {
    background-color: lightgray;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.tracks {
    padding-left: 2%;
    padding-right: 2%;
}

.trackscontent {
    background-color: lightgray;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.main {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    align-content: center;
}

.entry {
    background-color: lightgray;
    padding: 2%;
    border-radius: 2%;
}