h2 {
    padding-top: 2%;
}

#alben {
    padding-left: 2%;
    padding-right: 2%;
}

#albencontent {
    background-color: lightgray;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

#tracks {
    padding-left: 2%;
    padding-right: 2%;
}

#trackscontent {
    background-color: lightgray;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}