<div id="main">
    <h2 class="d-flex justify-content-center">Willkommen auf meiner Website!</h2>

    <div class="d-flex justify-content-center">
        <p>
            Mein Name ist Jonas, ich bin 21 Jahre alt und ich produziere seit Anfang 2018 als "Holmes" Musik.
            Auf meiner Website findest du alle möglichen Informationen zu mir und meiner Musik.
        </p>
    </div>
    
    <div class="d-flex justify-content-center">
        <p>
            Schau dich gerne um!
        </p>
    </div>
</div>