<div class="row">
    <div class="col-4 infos">
        <img src={{coverPath}}>
        <h4 class="title">{{title}}</h4>
    </div>
    

    <div class="col-8">
        <ul class="row list-group">
            <li class="list-group-item track-entry" *ngFor="let track of tracks | keyvalue">{{track.value}}</li>
        </ul>

        <div class="links">
            <button type="button" class="btn btn-secondary" (click)="ToSpotify()">
                Spotify
            </button>
            <button type="button" class="btn btn-secondary" (click)="ToSoundcloud()">
                Soundcloud
            </button>
            <button type="button" class="btn btn-secondary" (click)="ToYoutube()">
                YouTube
            </button>
        </div>
    </div>
</div>