<div class="row">
    <div class="col-4 infos">
        <img src={{coverPath}}>
        <h4 class="row title">{{title}}</h4>
    </div>
    

    <div class="col-8">
        <ul class="row list-group">
            <li class="list-group-item track-entry" *ngFor="let track of tracks | keyvalue">{{track.value}}</li>
        </ul>

        <p class="links">
            <a href={{linkSpotify}} class="link-primary">Spotify</a> |
            <a href={{linkSoundcloud}} class="link-primary">Soundcloud</a> |
            <a href={{linkYoutube}} class="link-primary">YouTube</a>
        </p>
    </div>
</div>